
@import '@/assets/scss/_mixins.scss';
* {
    font-family: 'Montserrat', sans-serif;  margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 10px;
  }
section{
    padding:50px;
    margin-bottom: 30px;
    overflow: hidden;
}
.break{
    flex-basis: 100%;
}

@include mobile{
  section{
    padding:20px;
    margin: 0px;
  }
}